body{
    background:lightblue;
}
.face{
    position:absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 150px;
    margin: auto;
    height: 40px;
    width: 65px;
    background: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
    transition: .3s;
}
.head{
    position:absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 150px;
    margin: auto;
    height: 75px;
    width: 100px;
    background: white;
    z-index: -1;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
    transition: .3s;
}
.body{
    position:absolute;
    top: 60px;
    left:0;
    right: 0;
    bottom: 0px;
    margin: auto;
    height: 120px;
    width:115px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius:100px ;
}
.left-hand{
    position:absolute;
    top: 50px;
    left:0;
    right: 165px;
    bottom: 0;
    margin: auto;
    height: 100px;
    width:30px;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:50px ;
    /* animation: hand 1s linear infinite;*/
    transition: .3s;
}
.right-hand{
    position:absolute;
    top: 50px;
    left:165px;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    width:100px;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius:50px ;
    transform: rotateZ(90deg);
   /* animation: hand 1s linear infinite;*/
    transition: .3s;
}
@keyframes hand{
    0%{
        transform:translateY(-40px) rotateZ(45deg);
    }
    50%{
        transform:translateY(0px) rotateZ(-0deg);
    }
    100%{
        transform:translateY(-40px) rotateZ(45deg);
    }
}
.eye1{
    position: absolute;
    top: 0;
    left: 0;
    right: 25px;
    bottom: 150px;
    margin: auto;
    background: repeating-linear-gradient(blue 70%,#002966,80%, blue);
    height: 10px;
    width: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
        animation: blink 1s linear 2s;
        transition: .3s;
    }
.eye2{
    position: absolute;
    top: 0;
    left: 25px;
    right: 0;
    bottom: 150px;
    margin: auto;
    background: repeating-linear-gradient(blue 70%,#002966,80%, blue);
    height: 10px;
    width: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
        animation: blink 1s linear 2s;
        transition: .3s;
}
input[type="checkbox"]{
    display: none;
}
.switch{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 25px;
    width: 25px;
    z-index: 1;
    border-radius: 50%;
    background: green;
    box-shadow: 0px 0px 15px green,
                inset 0px 0px 15px black;
    transition: .3s;
    cursor: pointer;
}
#switch-button:checked ~ label .switch{
    background: red;
    box-shadow: 0px 0px 15px red,
                inset 0px 0px 15px black;
}
#switch-button:checked ~  .head{
    bottom: 130px;
}
#switch-button:checked ~  .face{
    bottom: 130px;
}
#switch-button:checked ~  .left-hand{
    left: 130px;
}
#switch-button:checked ~  .right-hand{
    right: 130px;
}
#switch-button:checked ~  .eye1{
    transform: scale(0) translateY(-20px);
}
#switch-button:checked ~  .eye2{
    transform: scale(0) translateY(-20px);
}
.background{
    width: 100%;
    background: linear-gradient(0deg, white, lightgray,lightblue);
    z-index: -2;
    height: 0px;
    transition: .3s;
    transition-delay: 0.6s;

}
.fly-wave .wave{
    position: absolute;
    top: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 5px;
    width: 90px;
    background: lightblue;
    border-radius: 40px;
    box-shadow: 0px 0px 1px blue,
                inset 0px 0px 5px black;
    animation: fly 1s linear infinite;
}
@keyframes fly{
    10%{
        transform: scale(1.1) translateY(0px);
        opacity: 1;
    }
}